In [12]:
import os

In [15]:
%pwd

'E:\\AI_projects\\Data_science_Project1'

In [14]:
os.chdir('E:\AI_projects\Data_science_Project1')
%pwd

'E:\\AI_projects\\Data_science_Project1'

In [18]:
import pandas as pd
data=pd.read_csv(r'E:\AI_projects\Data_science_Project1\artifacts\data_ingestion\winequality-red.csv')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [19]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [32]:
s=''' 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64'''
s=s.replace('1599 non-null','')
s

' 0   fixed acidity            float64\n 1   volatile acidity         float64\n 2   citric acid              float64\n 3   residual sugar           float64\n 4   chlorides                float64\n 5   free sulfur dioxide      float64\n 6   total sulfur dioxide     float64\n 7   density                  float64\n 8   pH                       float64\n 9   sulphates                float64\n 10  alcohol                  float64\n 11  quality                  int64'

In [43]:
s.replace('        ',':').split('\n')

[' 0   fixed acidity:    float64',
 ' 1   volatile acidity: float64',
 ' 2   citric acid:      float64',
 ' 3   residual sugar:   float64',
 ' 4   chlorides::float64',
 ' 5   free sulfur dioxide      float64',
 ' 6   total sulfur dioxide     float64',
 ' 7   density::  float64',
 ' 8   pH::       float64',
 ' 9   sulphates::float64',
 ' 10  alcohol::  float64',
 ' 11  quality::  int64']

In [44]:
data.shape

(1599, 12)

In [49]:
from dataclasses import dataclass
from pathlib import Path

@dataclass
class DataValidationConfig:
    root_dir:Path
    STATUS_FILE:str
    unzip_data_dir:Path
    all_schema:dict

In [46]:
from src.datascience.constants import *
from src.datascience.utils.common import read_yaml, create_directories

In [50]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])

    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(
            root_dir=config.root_dir,
            STATUS_FILE=config.STATUS_FILE,
            unzip_data_dir = config.unzip_data_dir,
            all_schema=schema,
        )

        return data_validation_config

In [51]:
import os
from src.datascience import logger

In [52]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config

    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.unzip_data_dir)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

In [53]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2025-04-15 13:35:52,874:INFO:common:yaml file: config\config.yaml loaded successfully]
[2025-04-15 13:35:52,929:INFO:common:yaml file: params.yaml loaded successfully]
[2025-04-15 13:35:52,955:INFO:common:yaml file: schema.yaml loaded successfully]
[2025-04-15 13:35:52,972:INFO:common:Create dirctories at: artifacts]
[2025-04-15 13:35:52,980:INFO:common:Create dirctories at: artifacts/data_validation]

In [6]:
a=[1,3,4,5,6]

def sum1(i):
    if i==0:
        return 0
    return a[i]+sum1(i-1)

In [7]:
sum1(len(a)-1)

18

In [ ]:
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'Age': [24, 27, 22, 32, 29],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
'Score': [85, 90, 88, 95, 92]
}
import padnas as pd
data=pd.DataFrame(data)